<div class="flex flex-col w-full h-full">
    <div class="flex flex-col gap-3 p-12">
        <span class="text-6xl font-bold">Get Inspired</span>
        <span class="font-semibold w-8/12 text-justify text-lg">
            Discover your perfect bag and elevate your style with our exclusive collection, designed for every occasion. Unleash your inner trendsetter by exploring our premium range that combines fashion, function, and affordability.
        </span>
    </div>
    <div class="flex flex-col px-12 py-6 gap-4">
        <div class="flex flex-row gap-6 justify-center">
            <div class="flex flex-col bg-white rounded-md p-2 gap-3 transition-transform transform hover:scale-105 cursor-pointer" (click)="navigateToProductDetail(1)">
                <img src="../../assets/bag1.webp" alt="" class="h-[250px] w-[200px] rounded-md">
                <div class="flex flex-row justify-between items-center px-2">
                    <div class="flex flex-col gap-1">
                        <span class="text-sm font-bold">Leather Bag</span>
                        <span class="text-xs muted">All Category</span>
                    </div>
                    <span class="text-xs !px-2 !py-1 bg-[#bcbcbc] text-amber-900 font-bold rounded-full">4500 Rs</span>
                </div>
            </div>
            <div class="flex flex-col bg-white rounded-md p-2 gap-3 transition-transform transform hover:scale-105 cursor-pointer" (click)="navigateToProductDetail(2)">
                <img src="../../assets/bag2.webp" alt="" class="h-[250px] w-[200px] rounded-md">
                <div class="flex flex-row justify-between items-center px-2">
                    <div class="flex flex-col gap-1">
                        <span class="text-sm font-bold">Leather Bag</span>
                        <span class="text-xs muted">All Category</span>
                    </div>
                    <span class="text-xs !px-2 !py-1 bg-[#bcbcbc] text-amber-900 font-bold rounded-full">3500 Rs</span>
                </div>
            </div>
            <div class="flex flex-col bg-white rounded-md p-2 gap-3 transition-transform transform hover:scale-105 cursor-pointer" (click)="navigateToProductDetail(3)">
                <img src="../../assets/bag3.webp" alt="" class="h-[250px] w-[200px] rounded-md">
                <div class="flex flex-row justify-between items-center px-2">
                    <div class="flex flex-col gap-1">
                        <span class="text-sm font-bold">Leather Bag</span>
                        <span class="text-xs muted">All Category</span>
                    </div>
                    <span class="text-xs !px-2 !py-1 bg-[#bcbcbc] text-amber-900 font-bold rounded-full">5500 Rs</span>
                </div>
            </div>
            <div class="flex flex-col bg-white rounded-md p-2 gap-3 transition-transform transform hover:scale-105 cursor-pointer" (click)="navigateToProductDetail(4)">
                <img src="../../assets/bag4.webp" alt="" class="h-[250px] w-[200px] rounded-md">
                <div class="flex flex-row justify-between items-center px-2">
                    <div class="flex flex-col gap-1">
                        <span class="text-sm font-bold">Leather Bag</span>
                        <span class="text-xs muted">All Category</span>
                    </div>
                    <span class="text-xs !px-2 !py-1 bg-[#bcbcbc] text-amber-900 font-bold rounded-full">4500 Rs</span>
                </div>
            </div>
            <div class="flex flex-col bg-white rounded-md p-2 gap-3 transition-transform transform hover:scale-105 cursor-pointer" (click)="navigateToProductDetail(5)">
                <img src="../../assets/bag5.webp" alt="" class="h-[250px] w-[200px] rounded-md">
                <div class="flex flex-row justify-between items-center px-2">
                    <div class="flex flex-col gap-1">
                        <span class="text-sm font-bold">Leather Bag</span>
                        <span class="text-xs muted">All Category</span>
                    </div>
                    <span class="text-xs !px-2 !py-1 bg-[#bcbcbc] text-amber-900 font-bold rounded-full">3000 Rs</span>
                </div>
            </div>
            <div class="flex flex-col bg-white rounded-md p-2 gap-3 transition-transform transform hover:scale-105 cursor-pointer" (click)="navigateToProductDetail(6)">
                <img src="../../assets/bag6.webp" alt="" class="h-[250px] w-[200px] rounded-md">
                <div class="flex flex-row justify-between items-center px-2">
                    <div class="flex flex-col gap-1">
                        <span class="text-sm font-bold">Leather Bag</span>
                        <span class="text-xs muted">All Category</span>
                    </div>
                    <span class="text-xs !px-2 !py-1 bg-[#bcbcbc] text-amber-900 font-bold rounded-full">5000 Rs</span>
                </div>
            </div>
        </div>
        <span class="flex flex-row gap-1 text-amber-950 ml-auto pr-3 text-sm hover:cursor-pointer" (click)="navigateToCollection()">
            Show More 
            <span class="material-symbols-outlined text-base transition-transform transform hover:translate-x-1">arrow_forward</span>
        </span>
    </div>
    
</div>
