<div class="flex flex-col w-full  h-full">
    <div class="w-full p-3 shadow-lg flex flex-row justify-between items-center bg-[#d3d3d3] border !border-gray-300 rounded-b-lg">
        <div class="flex flex-row gap-2">
            <span class="material-symbols-outlined text-3xl">
                travel_luggage_and_bags
            </span>
            <span class="text-2xl font-bold">Bagies</span>
        </div>
        <div class="flex flex-row gap-4">
            <a href="home" class="text-base font-semibold hover:font-bold hover:cursor-pointer hover:border-b-2 hover:border-[#e28743] " [ngClass]="{'!font-bold border-b-2 border-[#e28743]': router.url == '/home'}">Home</a>
            <a href="collections" class="text-base font-semibold hover:font-bold hover:cursor-pointer hover:border-b-2 hover:border-[#e28743] " [ngClass]="{'!font-bold border-b-2 border-[#e28743]': router.url == '/collections'}">Collections</a>
            <a href="about-us" class="text-base font-semibold hover:font-bold hover:cursor-pointer hover:border-b-2 hover:border-[#e28743] " [ngClass]="{'!font-bold border-b-2 border-[#e28743]': router.url == '/about-us'}">About Us</a>
            <a href="contact-us" class="text-base font-semibold hover:font-bold hover:cursor-pointer hover:border-b-2 hover:border-[#e28743] " [ngClass]="{'!font-bold border-b-2 border-[#e28743]': router.url == '/contact-us'}">Contact Us</a>
            <a href="add-to-cart" class="text-base font-semibold hover:font-bold hover:cursor-pointer hover:border-b-2 hover:border-[#e28743] " [ngClass]="{'!font-bold border-b-2 border-[#e28743]': router.url == '/Add-to-cart'}">Cart</a>
        </div>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>         